* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
    }

    header {
        background-color: lightblue;
    }

    h1 {
        font-family: neuzeit-grotesk, sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(46, 45, 45);
    }

    h2 {
        font-family: korolev, sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    h4 {
        font-family: korolev, sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    h5 {
        font-family: neuzeit-grotesk, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-family: korolev, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 15px;
    }

    aside {
        margin: 20px;
    }

    #today {
        margin-top: 45px;
        margin-left: 20px;
    }

    #forecast {
        margin-top: 45px;
        margin-left: 20px;
    }

    .card {
        display: inline-block;
        width: 180px;
        padding: 15px;
        background-color: cornflowerblue;
        color: white;
        margin-right: 10px;
    }

    #weather-icon {
        display: inline-block;
    }

    #weather-icon-forecast {
        margin-left: 50px;
    }
